@charset "utf-8";

* html {
    cursor: url('img/1.Nomal Select_일반선택.png'), default;
}


body {
    text-align: center;
    letter-spacing: -0.025rem;
}

.wrap {
    margin: 50px 50px;

}

.cursors {
    display: flex;
    flex-wrap: wrap;
}

.cursors>div {
    flex: 150px;
    padding: 40px 20px;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.cursors>div:hover {
    background: #eee;
}
.cursors img{
    width: 60%;
}
.kr {
    font-weight: bold;
    font-size: 1.3rem;
}

img {
    margin: 20px 0px;
    width: 50%;
}
.logo{
    display: inline-block;
}
.logo .dl {
    line-height: 50px;
}

.logo a {
    line-height: 30px;
}

.logo img {
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
}

.wrap>h1 span {
    font-size: 15px;
    vertical-align: middle;
}

.dl {
    font-size: 1.6rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #222;
}